@model MTCEWorkOrdersModel

<div class="card-body">
    <form id="MTCEWorkordersForm" asp-area="ServiceNow" asp-controller="Home" asp-action="CreateWorkOrders" method="post" class="form">
        <div class="card-body p-9">
            <div class="row mb-6">
                <label class="col-lg-3 col-form-label required fw-bold fs-6">Class: </label>
                <div class="col-lg-3 fv-row">
                    <select id="ClassMTCE" name="ClassMTCE" onchange="clearFormMTCE()" class="form-select form-select-sm form-select p-3 fs-8" data-control="select2" data-placeholder="-- Select an option --">
                        <option></option>
                        @foreach (var item in Model.Services_now_WorkOrders_Class)
                        {
                            <option value="@item.ID_Clase">@item.Clase</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row mb-6">
                <label class="col-lg-3 col-form-label required fw-bold fs-6">WorkStation</label>
                <div class="col-lg-3 fv-row">
                    <select id="WorkStationMTCE" name="WorkStationMTCE" onchange="readDataMTCE(this.value, @ViewData["MenuId"])" class="form-select form-select-sm form-select p-3 fs-8" data-control="select2" data-placeholder="-- Select an option --">
                        <option></option>
                        @foreach (var item in Model.Production_Stations)
                        {
                            <option value="@item.ID_Estacion">@item.Descripcion</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row mb-6">
                <label class="col-lg-3 col-form-label  fw-bold fs-6">Department</label>
                <div class="col-lg-3 fv-row">
                    <select id="DepMTCE" name="DepMTCE" class="form-select form-select-sm form-select-solid p-3 fs-8" data-control="select2" data-placeholder="-" disabled>
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="row mb-6">
                <label class="col-lg-3 col-form-label fw-bold fs-6">Plant</label>
                <div class="col-lg-3 fv-row">
                    <select id="PlantMTCE" name="PlantMTCE" class="form-select form-select-sm form-select-solid p-3 fs-8" data-control="select2" data-placeholder="-" disabled>
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="row mb-6">
                <label class="col-lg-3 col-form-label required fw-bold fs-6">Equipment / Reference: </label>
                <div class="col-lg-3 fv-row">
                    <select id="MachineMTCE" name="MachineMTCE" class="form-select form-select-sm form-select p-3 fs-8" data-control="select2" data-placeholder="-- Select an option --" data-allow-clear="true">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="row mb-6">
                <label class="col-lg-3 col-form-label required fw-bold fs-6">Comments: </label>
                <div class="col-lg-9 fv-row">
                    <textarea id="CommentMTCE" name="CommentMTCE" class="form-control" rows="4" maxlength="500" data-kt-autosize="true"></textarea>
                </div>
            </div>
            <div class="row mt-12">
                <div class="col-md-9 offset-md-3">
                    <button type="button" class="btn btn-primary p-3 fs-7 me-3" id="itbutton_submit">
                        <span class="indicator-label"><i class="fas fa-save"></i>Save</span>
                        <span class="indicator-progress">
                            Please wait...
                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
@if (Model != null)
{
    //Textbox validation
    <script>
        $('#CommentMTCE').maxlength({
            threshold: 500,
            warningClass: "badge badge-danger",
            limitReachedClass: "badge badge-success",
            separator: ' of ',
            preText: 'You have ',
            postText: ' chars remaining.',
            validate: true
        });
    </script>

    //Get combos 
    <script>
        function readDataMTCE(station, IdMenuService) {
            if (station != "") {
                $.ajax({

                    url: "@Url.Action("WorkOrderComboData","ServiceMenu")",
                    type: "post",
                    data: { station: station, IdMenuService: IdMenuService },
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                }).done(function(result) 
                {
                        if (result != null) 
                        {
                            if (result == 'Error') {
                            SystemServerError()
                            }
                            if (result == 'noSession') {
                                swalExpired()
                            }
                            else if (result == 'Sorry') {
                                swalNoAuthorized()
                            }
                            else if (result == 'NoPage') {
                                swalNoAuthorized()
                            }
                            else 
                            {
                                var obj = JSON.parse(result);

                                var pd1 = obj.Production_Departments[0].ID_Departamento;
                                var pd2 = obj.Production_Departments[0].Descripcion;

                                $('#DepMTCE').empty().trigger("change");
                                var newDep = new Option(pd2, pd1, false, false);
                                $('#DepMTCE').append(newDep).val(pd1).trigger('change');

                                //----------------------------------------------------------

                                var sf1 = obj.Services_Factories[0].ID_Planta;
                                var sf2 = obj.Services_Factories[0].Descripcion;

                                $('#PlantMTCE').empty().trigger("change");
                                var newPlant = new Option(sf2, sf1, false, false);
                                $('#PlantMTCE').append(newPlant).val(sf1).trigger('change');

                                //-------------------------------------------------------------------
                                $('#MachineMTCE').empty().trigger("change");

                                for (i = 0; i < obj.Maintenance_EquipmentMachinery.length; i++) 
                                {
                                    var newMachine = new Option(obj.Maintenance_EquipmentMachinery[i].DescripcionMaquina, obj.Maintenance_EquipmentMachinery[i].ID_Maquina, false, false);
                                    $('#MachineMTCE').append(newMachine).trigger('change');
                                    $('#MachineMTCE').val(null).trigger('change');
                                }
                            }
                        }
                        else 
                        {
                          SystemServerError()
                        }
                    })
                    .fail(function(xhr, status, error) {
                        SystemServerError()
                    })
            }
        }
    </script>

    //Clear form when is sended
    <script>
        function clearFormMTCE() {
            $('#WorkStationMTCE').val(null).trigger('change');
            $('#DepMTCE').empty().trigger("change");
            $('#PlantMTCE').empty().trigger("change");
            $('#MachineMTCE').empty().trigger("change");
        }
    </script>

    //Form validation
    <script>

        "use strict";

        // Class definition
        var KTAccountSettingsSigninMethods = function () {

            var formWorkOrdersMTCE = function (e) {
                var validation;

                // form elements
                var MTCEForm = document.getElementById('MTCEWorkordersForm');

                validation = FormValidation.formValidation(
                    MTCEForm,
                    {
                        fields: {
                            ClassMTCE: {
                                validators: {
                                    notEmpty: {
                                        message: 'Class is required'
                                    }
                                }
                            },
                            WorkStationMTCE: {
                                validators: {
                                    notEmpty: {
                                        message: 'WorkStation is required'
                                    }
                                }
                            },
                            MachineMTCE: {
                                validators: {
                                    notEmpty: {
                                        message: 'Plant is required'
                                    }
                                }
                            },
                            CommentMTCE: {
                                validators: {
                                    notEmpty: {
                                        message: 'Comment is required'
                                    }
                                }
                            },

                        },

                        plugins: { //Learn more: https://formvalidation.io/guide/plugins
                            trigger: new FormValidation.plugins.Trigger(),
                            bootstrap: new FormValidation.plugins.Bootstrap5({
                                rowSelector: '.fv-row'
                            })
                        }
                    }
                );

                MTCEForm.querySelector('#itbutton_submit').addEventListener('click', function (e) {
                    e.preventDefault();

                    validation.validate().then(function (status) {

                        if (status == 'Valid') {
                            sendFormMTCE()
                            validation.resetForm();
                        }
                        else {
                            swal.fire({
                                text: "Sorry, looks like there are some errors detected, please try again.",
                                icon: "error",
                                buttonsStyling: false,
                                confirmButtonText: "Ok, got it!",
                                customClass: {
                                    confirmButton: "btn font-weight-bold btn-light-primary"
                                }
                            });
                        }
                    });
                });
            }

            // Public methods
            return {
                init: function () {
                    formWorkOrdersMTCE();
                }
            }
        }();

        // On document ready
        KTUtil.onDOMContentLoaded(function () {
            KTAccountSettingsSigninMethods.init();
        });
    </script>

    //Send Form MTCE
    <script>
        function sendFormMTCE() {
            var classId = $('#ClassMTCE').val();
            var workStationId = $('#WorkStationMTCE').val();
            var departamentId = $('#DepMTCE').val();
            var plantId = $('#PlantMTCE').val();
            var machineId = $('#MachineMTCE').val();
            var commentStr = $('#CommentMTCE').val();
            var IdMenuService = '@ViewData["MenuId"]';

            $.ajax({
                url: "@Url.Action("CreateWorkOrders","ServiceMenu")",
                type: "post",
                data:
                {
                    classId: classId,
                    workStationId: workStationId,
                    departamentId: departamentId,
                    plantId: plantId,
                    machineId: machineId,
                    commentStr: commentStr,
                    IdMenuService: IdMenuService
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
            })
                .done(function (result) {
                    if (result != null) {
                        if (result == 'Error') {
                            SystemServerError()
                        }
                        if (result == 'noSession') {
                            swalExpired()
                        }
                        else if (result == 'Sorry') {
                            swalNoAuthorized()
                        }
                        else if (result == 'NoPage') {
                            swalNoAuthorized()
                        }
                        else if (result == "correct") {
                            toastr.success("The Maintenance Work Order was save success.!");
                            $('#ClassMTCE').val(null).trigger('change');
                            $('#CommentMTCE').val(null);
                            clearFormMTCE();
                        }
                        
                    }
                    else {
                        SystemServerError()
                    }
                })
                .fail(function (xhr, status, error) {
                    swalErrorServer()
                })
        }
    </script>

}