@page "/ServiceNow/feasibility-PDF"
@model FactoryPlatform.Areas.ServiceNow.Pages.Account.feasibilityPDFModel
@{
    Layout = "";
}
<html lang="en">
<!--begin::Head-->
<head>
    <base href="../../">
    <title>FactoryPlatform - @ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="~/Images/SystemPictures/favicons.png" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="bg-body" background="~/Images/SystemPictures/newLogo3.png" bgcolor=aqua>

    @if (Model.Feasibility != null)
    {
        <div class="d-flex flex-column flex-root">
            <div class="d-flex flex-column flex-column-fluid">
                <div class="d-flex flex-column flex-column-fluid p-10 py-lg-15">

                    @if (Model.Feasibility.DigitalDocumentsFeasibility.Count > 0)
                    {
                        var feasibility = @Model.Feasibility.DigitalDocumentsFeasibility.First();

                        if (feasibility.TipoDoc == 1)
                        {
                            <div class="mw-lg-950px mx-auto w-100">
                                <div class="d-flex justify-content-between flex-column flex-sm-row mb-5">
                                    <img alt="Logo" src="~/Images/SystemPictures/logo-lkq_3.png" width="250" height="80" />
                                    <div class="my-1 text-end fs-5">
                                        <strong>Fecha: </strong>@feasibility.Fecha<br>
                                        <strong>Proyecto: </strong>@feasibility.Proyecto <br>
                                        <strong>Ingeniero de producto:</strong> @feasibility.Ing<br>
                                    </div>
                                </div>
                                <div class="separator my-1 mb-2"></div>
                                <br>

                                <h1 class="card-title fs-1qx p-2 text-center me-2">HOJA DE FACTIBILIDAD</h1>
                                <p class="fs-5 mb-5">
                                    Nuestro equipo de desarrollo de producto, ha considerado las siguientes situaciones. Todas las respuestas “NO” son soportadas
                                    con comentarios adjuntos, identificando los aspectos y/o cambios propuestos para permitir a la organización cumplir con los
                                    requerimientos del sistema de gestión de calidad.
                                </p>

                                <h3 class="mb-1">Factibilidad Operativa</h3>
                                <table class="table table-row-bordered table-rounded border gy-7 gs-7 fs-6 mb-10">
                                    <tr class="fw-bolder text-uppercase gs-0 border-bottom border-end border-gray-300 fs-5">
                                        <th class="border-bottom border-end align-middle p-1">SI</th>
                                        <th class="border-bottom border-end align-middle p-1 text-center">NO</th>
                                        <th class="border-bottom border-end align-middle p-1 text-center">CONSIDERACION</th>
                                    </tr>
                                    @foreach (var item in Model.Feasibility.DigitalDocumentsFeasibility.Where(F => F.Tipo == 1).ToList())
                                    {
                                        <tr class="fs-6">
                                            @if (item.Opcion == true)
                                            {
                                                <td class="border-bottom border-end p-1 align-middle text-center"><i class="fas fa-check-square text-success fs-1"></i> </td>
                                                <td class="border-bottom border-end p-1 align-middle text-center"> </td>
                                            }
                                            else
                                            {
                                                <td class="border-bottom border-end p-1 align-middle text-center"> </td>
                                                <td class="border-bottom border-end p-1 align-middle text-center"> <i class="fas fa-check-square text-danger fs-1"></i> </td>
                                            }
                                            <td class="border-bottom border-end p-1 align-middle">@item.Question</td>
                                        </tr>
                                    }

                                </table>

                                <h3 class="mb-1">Factibilidad Técnica</h3>
                                <table class="table table-row-bordered table-rounded border gy-7 gs-7 fs-6 mb-10">
                                    <tr class="fw-bolder text-uppercase gs-0 border-bottom border-end border-gray-300 fs-5">
                                        <th class="border-bottom border-end align-middle p-1">SI</th>
                                        <th class="border-bottom border-end align-middle p-1 text-center">NO</th>
                                        <th class="border-bottom border-end align-middle p-1 text-center">CONSIDERACION</th>
                                    </tr>
                                    @foreach (var item in Model.Feasibility.DigitalDocumentsFeasibility.Where(F => F.Tipo == 2).ToList())
                                    {
                                        <tr class="fs-6">
                                            @if (item.Opcion == true)
                                            {
                                                <td class="border-bottom border-end p-1 align-middle text-center"><i class="fas fa-check-square text-success fs-1"></i> </td>
                                                <td class="border-bottom border-end p-1 align-middle text-center"> </td>
                                            }
                                            else
                                            {
                                                <td class="border-bottom border-end p-1 align-middle text-center"> </td>
                                                <td class="border-bottom border-end p-1 align-middle text-center"> <i class="fas fa-check-square text-danger fs-1"></i> </td>
                                            }
                                            <td class="border-bottom border-end p-1 align-middle">@item.Question</td>
                                        </tr>
                                    }
                                </table>

                                <h3 class="mb-1">Factibilidad Económica</h3>
                                <table class="table table-row-bordered table-rounded border gy-7 gs-7 fs-6 mb-10">
                                    <tr class="fw-bolder text-uppercase gs-0 border-bottom border-end border-gray-300 fs-5">
                                        <th class="border-bottom border-end align-middle p-1">SI</th>
                                        <th class="border-bottom border-end align-middle p-1 text-center">NO</th>
                                        <th class="border-bottom border-end align-middle p-1 text-center">CONSIDERACION</th>
                                    </tr>
                                    @foreach (var item in Model.Feasibility.DigitalDocumentsFeasibility.Where(F => F.Tipo == 3).ToList())
                                    {
                                        <tr class="fs-6">
                                            @if (item.Opcion == true)
                                            {
                                                <td class="border-bottom border-end p-1 align-middle text-center"><i class="fas fa-check-square text-success fs-1"></i> </td>
                                                <td class="border-bottom border-end p-1 align-middle text-center"> </td>
                                            }
                                            else
                                            {
                                                <td class="border-bottom border-end p-1 align-middle text-center"> </td>
                                                <td class="border-bottom border-end p-1 align-middle text-center"> <i class="fas fa-check-square text-danger fs-1"></i> </td>
                                            }
                                            <td class="border-bottom border-end p-1 align-middle">@item.Question</td>
                                        </tr>
                                    }
                                </table>


                                <table class="table  border border-transparent gy-7 gs-7 fs-6 mb-10">
                                    <tr class="fw-bolder text-uppercase gs-0  border-gray-300 fs-5">
                                        <th class=" align-middle p-1 text-center">Check</th>
                                        <th class=" align-middle p-1 text-center">Conclusión </th>
                                        <th class=" align-middle p-1 text-center"></th>
                                    </tr>
                                    <tr class="fs-6">
                                        <td class=" p-1 align-middle text-center">
                                            @if (feasibility.Conclusion == 1)
                                            {
                                                <i class="fas fa-check-square text-success fs-1"></i>
                                            }
                                        </td>
                                        <td class=" p-1 align-middle text-center">Factible</td>
                                        <td class=" p-1 align-middle">El producto puede ser re manufacturado como se especificó sin alguna revisión.</td>
                                    </tr>
                                    <tr class="fs-6">
                                        <td class=" p-1 align-middle text-center">
                                            @if (feasibility.Conclusion == 2)
                                            {
                                                <i class="fas fa-check-square text-success fs-1"></i>
                                            }
                                        </td>
                                        <td class=" p-1 align-middle text-center">Factible</td>
                                        <td class=" p-1 align-middle">Cambio recomendados (ver comentarios adjuntos).</td>
                                    </tr>
                                    <tr class="fs-6">
                                        <td class=" p-1 align-middle text-center">
                                            @if (feasibility.Conclusion == 3)
                                            {
                                                <i class="fas fa-check-square text-success fs-1"></i>
                                            }
                                        </td>
                                        <td class=" p-1 align-middle text-center">No Factible</td>
                                        <td class=" p-1 align-middle">No es posible arrancar o continuar con el desarrollo de producto propuesto.</td>
                                    </tr>
                                </table>

                                <div class="border p-2 mb-8">
                                    <h5>Comentario Adjuntos:</h5>
                                    <p>@feasibility.Comments</p>
                                </div>

                                <table class="table table-row-bordered table-rounded border gy-7 gs-7 fs-6 mb-5">
                                    <tr class=" gs-0 border-bottom border-end border-gray-300 fs-6">
                                        <th class="border-bottom border-end align-middle text-center p-1 fw-bold">Pre Approval:</th>
                                        <td class="border-bottom border-end align-middle  p-1">
                                            @foreach (var item in Model.Feasibility.DigitalDocumentsFeasibility_Signatures.Where(S => S.ID_Registro != 4))
                                            {
                                                <p class="p-0 mb-0">@item.Signatures</p>
                                            }
                                        </td>
                                    </tr>
                                    <tr class="fs-6">
                                        <th class="border-bottom border-end p-1 align-middle text-center fw-bold">Final Approval:</th>
                                        <td class="border-bottom border-end p-1 align-middle">@Model.Feasibility.DigitalDocumentsFeasibility_Signatures.Where(S => S.ID_Registro == 4).ToList().First().Signatures</td>
                                    </tr>
                                </table>

                                <!--end::Text-->
                                <!-- begin::Footer-->
                                <div class="d-flex flex-stack flex-wrap mt-lg-2 pt-13">
                                    <div class="my-1 me-5">
                                    </div>
                                    <div class="my-1 text-end">
                                        <spam class="fw-bolder">R-77-04-011</spam> <br>
                                        Edicion: 10
                                    </div>
                                </div>
                                <!-- end::Footer-->
                            </div>
                        }

                        if (feasibility.TipoDoc == 2)
                        {
                            <div class="mw-lg-950px mx-auto w-100">
                                <div class="d-flex justify-content-between flex-column flex-sm-row mb-5">
                                    <img alt="Logo" src="~/Images/SystemPictures/logo-lkq_3.png" width="250" height="80" />
                                    <div class="my-1 text-end fs-5">
                                        <strong>Fecha: </strong>@feasibility.Fecha<br>
                                        <strong>Proyecto: </strong>@feasibility.Proyecto <br>
                                        <strong>Ingeniero de producto:</strong> @feasibility.Ing<br>
                                    </div>
                                </div>
                                <div class="separator my-1 mb-2"></div>
                                <br>

                                <h1 class="card-title fs-1qx p-2 text-center me-2">HOJA DE FACTIBILIDAD</h1>
                                <p class="fs-5 mb-5">
                                    Nuestro equipo de desarrollo de producto, ha considerado las siguientes situaciones. Todas las respuestas “NO” son soportadas
                                    con comentarios adjuntos, identificando los aspectos y/o cambios propuestos para permitir a la organización cumplir con los
                                    requerimientos del sistema de gestión de calidad.
                                </p>

                                <h3 class="mb-1">Factibilidad Operativa</h3>
                                <table class="table table-row-bordered table-rounded border gy-7 gs-7 fs-6 mb-10">
                                    <tr class="fw-bolder text-uppercase gs-0 border-bottom border-end border-gray-300 fs-5">
                                        <th class="border-bottom border-end align-middle p-1">SI</th>
                                        <th class="border-bottom border-end align-middle p-1 text-center">NO</th>
                                        <th class="border-bottom border-end align-middle p-1 text-center">CONSIDERACION</th>
                                    </tr>
                                    @foreach (var item in Model.Feasibility.DigitalDocumentsFeasibility.Where(F => F.Tipo == 4).ToList())
                                    {
                                        <tr class="fs-6">
                                            @if (item.Opcion == true)
                                            {
                                                <td class="border-bottom border-end p-1 align-middle text-center"> <i class="fas fa-check-circle text-success fs-1"></i> </td>
                                                <td class="border-bottom border-end p-1 align-middle text-center"> </td>
                                            }
                                            else
                                            {
                                                <td class="border-bottom border-end p-1 align-middle text-center"> </td>
                                                <td class="border-bottom border-end p-1 align-middle text-center"> <i class="fas fa-times-circle text-danger fs-1"></i> </td>
                                            }
                                            <td class="border-bottom border-end p-1 align-middle">@item.Question</td>
                                        </tr>
                                    }
                                </table>

                                <table class="table table-row-bordered table-rounded border gy-7 gs-7 fs-6 mb-10">
                                    <tr class="fw-bolder text-uppercase gs-0 border-bottom border-end border-gray-300 fs-5">
                                        <th class="border-bottom border-end align-middle p-1 text-center"></th>
                                        <th class="border-bottom border-end align-middle p-1 text-center">Conclusión @feasibility.Conclusion</th>
                                        <th class="border-bottom border-end align-middle p-1 text-center"></th>
                                    </tr>
                                    <tr class="fs-6">
                                        <td class="border-bottom border-end p-1 align-middle text-center">
                                            @if (feasibility.Conclusion == 1)
                                            {
                                                <i class="fas fa-check-circle text-success fs-1"></i>
                                            }
                                        </td>
                                        <td class="border-bottom border-end p-1 align-middle text-center">Factible</td>
                                        <td class="border-bottom border-end p-1 align-middle">El producto puede ser re manufacturado como se especificó sin alguna revisión.</td>
                                    </tr>
                                    <tr class="fs-6">
                                        <td class="border-bottom border-end p-1 align-middle text-center">
                                            @if (feasibility.Conclusion == 2)
                                            {
                                                <i class="fas fa-check-circle text-success fs-1"></i>
                                            }
                                        </td>
                                        <td class="border-bottom border-end p-1 align-middle text-center">Factible</td>
                                        <td class="border-bottom border-end p-1 align-middle">Cambio recomendados (ver comentarios adjuntos).</td>
                                    </tr>
                                    <tr class="fs-6">
                                        <td class="border-bottom border-end p-1 align-middle text-center">
                                            @if (feasibility.Conclusion == 3)
                                            {
                                                <i class="fas fa-check-circle text-success fs-1"></i>
                                            }
                                        </td>
                                        <td class="border-bottom border-end p-1 align-middle text-center">No Factible</td>
                                        <td class="border-bottom border-end p-1 align-middle">No es posible arrancar o continuar con el desarrollo de producto propuesto.</td>
                                    </tr>
                                </table>

                                <div class="border p-2 mb-8">
                                    <h5>Comentario Adjuntos:</h5>
                                    <p>@feasibility.Comments</p>
                                </div>

                                <table class="table table-row-bordered table-rounded border gy-7 gs-7 fs-6 mb-5">
                                    <tr class=" gs-0 border-bottom border-end border-gray-300 fs-6">
                                        <th class="border-bottom border-end align-middle text-center p-1 fw-bold">Pre Approval:</th>
                                        <td class="border-bottom border-end align-middle  p-1">
                                            @foreach (var item in Model.Feasibility.DigitalDocumentsFeasibility_Signatures.Where(S => S.ID_Registro != 4))
                                            {
                                                <p class="p-0 mb-0">@item.Signatures</p>
                                            }
                                        </td>
                                    </tr>
                                    <tr class="fs-6">
                                        <th class="border-bottom border-end p-1 align-middle text-center fw-bold">Final Approval:</th>
                                        <td class="border-bottom border-end p-1 align-middle">@Model.Feasibility.DigitalDocumentsFeasibility_Signatures.Where(S => S.ID_Registro == 4).ToList().First().Signatures</td>
                                    </tr>
                                </table>

                                <!--end::Text-->
                                <!-- begin::Footer-->
                                <div class="d-flex flex-stack flex-wrap mt-lg-2 pt-13">
                                    <div class="my-1 me-5">
                                    </div>
                                    <div class="my-1 text-end">
                                        <spam class="fw-bolder">R7773009</spam> <br>
                                        Edicion: 1
                                    </div>
                                </div>
                                <!-- end::Footer-->
                            </div>
                        }

                    }


                </div>
            </div>
        </div>
    }
    else
    {
        <div class="d-flex flex-column flex-root">
            <div class="d-flex flex-column flex-column-fluid">
                <div class="d-flex flex-column flex-column-fluid text-center p-10 py-lg-15">
                    <a class="mb-10 pt-lg-10">
                        <img alt="Logo" src="~/Images/SystemPictures/LKQ.png" class="w-300px mb-5" />
                    </a>
                    <div class="pt-lg-10 mb-10">
                        <h1 class="fw-bolder fs-4qx text-danger mb-10">System Error</h1>
                        <div class="fw-bold fs-3 text-muted mb-15">
                            @ViewData["Message"]
                            <br />Please try again later.
                        </div>
                        <div class="text-center">
                            <a href="/FactoryPlatform" class="btn btn-lg btn-primary fw-bolder">Go to homepage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <script>var hostUrl = "assets/";</script>
    <!--begin::Javascript-->
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="~/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/assets/js/scripts.bundle.js"></script>
    <!--end::Global Javascript Bundle-->
    <!--end::Javascript-->
</body>
<!--end::Body-->
</html>

